@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    color: hsl(210, 2%, 56%);
    background: #f3f3f4;
}

body .page {
    display: flex;
    justify-content: center;
}

body .left {
    height: 100vh;
    flex-basis: 50%;
}

body .right {
    height: 100vh;
    flex-basis: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: hsl(168, 75%, 40%);
    color: #fff;
}

.right .signup-box {
    /* border: 1px solid black; */
    /* margin: 3em; */
    padding: 2em;
}

.form-area .row {
    margin: 1em;
}

form label {
    font-size: 1.5em;
}

form input {
    font-size: 1.2em;
    border: #f3f3f4;
    border-radius: .1em;
    padding: .1em;
}

.input .success input {
    border: #09c372;
    border-radius: 4px;
}

.input .error input{
    border: #ff3860;
    border-radius: 4px;
}

.input .error{
    color: red;
    font-size: .9em;
}

.red{
    color: red;
    font-size: 0.9em;
}

div.input.last-name {
    margin-left: 1rem;
}

input#email {
    width: 81.5%;
}

input#password {
    width: 81.5%;
}

input#cnf-password {
    width: 81.5%;
}

.right .user {
    display: flex;
}

.right .input {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

.signup{
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-signup {
    background-color: #f3f3f4;
    border: none;
    color: hsl(168, 75%, 40%);
    padding: .5rem 1rem;
    text-align: center;
    text-decoration: none;
    font-size: 1em;
    cursor: pointer;
    border-radius: .1em;
    margin-top: 2em;
}


/* Left side css */

.left {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5em;
}


@media (max-width: 768px) {
    .page {
        flex-direction: column;
    }

    .signup-box {
        flex-direction: column;
        justify-content: center;
        /* align-items: center; */
        gap: 1em;
    }

    .signup-box .user{
        flex-direction: column;
    }

    div.input.last-name{
        margin-left: 0;
    }

    .input.first-name{
        width: 83%;
    }
    .input.last-name{
        width: 83%;
        margin-top: 1em;
    }

    .left{
        font-size: 1em;
        margin-top: 1em;
    }
}
